<nav class="navbar navbar-inverse" style="line-height: 3.5;" >
  <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <div class = "navLogo">
          <img id = "myImage" src="Images/Logo_SeniorPic/logo.png" width="40" height="40" style = "display: none"  />
          <img id = "myImage2" src="black.png" width = "40" height = "40"   />
        </div>
        <div class="makeRight">
          <ul class="nav navbar-nav">
            <li><a style = "cursor: pointer; width: 129px;" onclick = "goToHome();">Home</a></li>
            <li><a style = "cursor: pointer; width: 129px;" onclick = "goToBio();">Bio</a></li>
            <li><a style = "cursor: pointer; width: 129px;" onclick = "goToContact();">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
